body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

/* Colors */
/* #ffc107 */

/* Nav */
.bg-nav {
  background-color: #111 !important;
}

.nav-link {
  border: 2px solid transparent;
}

.nav-link:hover {
  border-bottom-color: #fff;
}

/* Jumbotron */
.jumbotron {
  position: relative;
  background: none !important;
  border-radius: 0;
}

.jumbotron:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("img/nebula.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity : 0.;
  z-index: -1;
}

/* Buttons */
.btn {
  border-radius: 0 !important;
}

.btn-suscribe {
  font-size: 30px !important;
  background-color: #111 !important;
  color: #fff !important;
}

.btn-suscribe:hover {
  color: #dc3545 !important;
}

a .ic:hover {
  color: #ffc107 !important;
}

/* Sections */
.mainPageSectionPrime {
  background-image: url("img/nebula.jpg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90rem;
  padding-bottom: 75px;
}

.mainPageSectionBiography {
  padding: 100px 5%;
  background-image: url("img/biografia.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90rem;
}

.galleryPageSectionMedia {
  margin-bottom: 30px;
}

/* Media */
.imgMedia {
  align-self: center;
}

.imgMedia:hover {
  transform: scale(1.05);
  transition: 1.2s;
}

/* Options Scroll Bar */
/* General Scrollbar Options */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*Fonts*/
/*Adding a custom fonts*/
@font-face {
  font-family: "Earth Orbiter"; 
  src:
  url("fonts/earthorbiter.ttf");
}

@font-face {
  font-family: "Earth Orbiter Bold"; 
  src:
  url("fonts/earthorbiterbold.ttf");
}

@font-face {
  font-family: "Earth Orbiter Extra Bold"; 
  src:
  url("fonts/earthorbiterxtrabold.ttf");
}

@font-face {
  font-family: "Gobold Bold"; 
  src:
  url("fonts/Gobold_Bold.otf");
}

@font-face {
  font-family: "Gobold Blocky Regular"; 
  src:
  url("fonts/Gobold_Blocky_Regular.otf"),
  url("fonts/Gobold_Blocky_Regular.woff") format('woff');
}

/* Responsive Breakpoints */
/* Extra small devices */
@media only screen and (max-width: 600px) {
  .mainPageText {
    color: #fff;
    position: absolute;
    top: 510px;
    left: 20px;
    font-size: 35px;
  }

  .mainPageSectionPrime {
    padding-bottom: 15px;
  }
}

/* Small devices */
@media screen and (max-width: 767px) and (min-width: 600px) {
  .mainPageText {
    color: #fff;
    position: absolute;
    top: 510px;
    left: 20px; 
    font-size: 50px;
  }
}

/* Medium devices */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .mainPageText {
    color: #fff;
    position: absolute;
    top: 510px;
    left: 20px; 
    font-size: 70px;
  }

}

/* Large devices */
@media only screen and  (max-width: 1199px) and (min-width: 992px) {
  .mainPageText {
    color: #fff;
    position: absolute;
    top: 510px;
    left: 20px;
    font-size: 100px;
  }
}

/* Extra large devices */
@media screen and (min-width: 1200px){
  .mainPageText {
    color: #fff;
    position: absolute;
    top: 510px;
    left: 20px;
    font-size: 100px;
  }

  .mainPageSectionPrime {
    background-size: 100%;
  }

  .mainPageSectionBiography {
    background-size: 100%;
  }
}
