<head>
  <title>Natural Tones | Sitio Web Oficial</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="img/NTL.jpg" />
</head>

<body>
  <div id="react-target"></div>
</body>
